# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit cache
.streamlit/

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files backup
*.h5
*.ckpt

# Jupyter
.ipynb_checkpoints/
